<div class="columns">
    <div class="column">
        <app-chat-user-list
            [users]="users"
            [title]="'Users Online'"
            (cardClick)="onUserConnectedClick($event)"
        ></app-chat-user-list>
    </div>
    <div class="column">
        <app-chat-user-list [users]="chats" [title]="'Chats'" (cardClick)="onChatClick($event)"></app-chat-user-list>
    </div>
    <div class="column is-half">
        <app-chat-panel [messages]="messages"></app-chat-panel>
    </div>
    <div class="logout-column">
        <button class="button is-link" (click)="onLogout()">Logout</button>
    </div>
</div>
