.panel-message,
.card-content {
    height: 90%;
}

.card-content {
    box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
}

.input-message {
    height: 10%;
    display: flex;

    .field {
        flex: 1;
        height: 100%;
    }

    input {
        border-radius: 0;
        margin: 0;
    }

    button {
        height: 100%;
        border-radius: 0;
    }
}

.message-container {
    display: flex;

    app-message {
        flex: 0.8;
    }
}

.message-donor {
    justify-content: flex-end;
}
