<div class="signin-container">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="has-text-centered">Chat Example Project</h1>
                <form>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" placeholder="Email input" value="hello@" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p class="help is-danger">This email is invalid</p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="password" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="action">
                        <button class="button is-success">Sign In</button>
                    </div>
                    <div class="disclaimer has-text-centered">
                        <p>Don't have a account?</p>
                        <a href="#">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
